* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

h1 {
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

input, textarea {
  width: 40vw;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: black;
  background-color: white;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

.tasks-container {
  width: 100%;
  max-width: 70vw;
}

.task-box {
  background-color: #444;
  border: 1.5px solid #007bff;
  border-radius: 15px;
  margin-bottom: 20px;
  color: white;
  box-shadow: 0 8px 10px rgba(0, 123, 255, 0.5);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.status-btn {
  position: absolute;
  left: 7px;
  top: -10px;
  border: none;

  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.not-done {
  background-color: #dc3545;
  color: white;
}

.done {
  background-color: #28a745;
  color: white;
}

.remove-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  color: #dc3545;
  font-size: 20px;
  cursor: pointer;
}

.task-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.task-description {
  font-size: 14px;
  margin: 10px;
}
